* {
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}