/* 首页样式 */
.topbar-wrapper {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
}

.service,.topbar-wrapper li {
    
    float: left;
}

.app {
    position: relative;
}
.app:hover::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.app:hover .appcode {
    height: 148px;
}
.app .appcode {
    width: 124px;
    height: 0;
    line-height: 1px;
    text-align: center;
    background-color: #666666;
    box-shadow: 0 0 10 rgba(0, 0, 0, .3);
    position: absolute;
    left: 22px;
    margin-left: -60px;
    overflow: hidden;
    transition: height 0.3s;
}


.app .appcode img {
    width: 90px;
    margin: 17px;
    /* margin-bottom: 30px; */
}
.app .appcode span {    
    font-size: 14px;
    color: #000;
}


.shop-cart,.user-info  {
    float: right;
}
.topbar a {
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}
.topbar a:hover {
    color: #FFFFFF;
}

.topbar .line {
    font-size: 12px;
    color: #424242;
    margin: 0 8px;
}
.shop-cart {
    margin-left: 26px;
}
.shop-cart a {
    width: 120px;
    height: 40px;
    line-height: 40px;
    background-color: #424242;
    text-align: center;
}
.shop-cart:hover a {
    color: #ff6700;
    background-color: #ffffff;
}
.shop-cart i {
    margin-right: 2px;
}

.header {
    height: 100px;
  
}
.header .logo {
    float: left;
    width: 55px;
    height: 55px;
    position: relative;
    /* top: 50%; */
    margin-top: 22px;
    /* 溢出隐藏 */
    overflow: hidden;
}

.header .logo a {
    position: absolute;
    width: 55px;
    height: 55px;
    /* transform: translateY(-50%); */
    /* 背景设置的方式 */
    /* background: #ff6700 url('../images/mi-logo.png') center; */
    background-color: #ff6700; 
    background-image: url('../images/mi-logo.png');
    background-position: center;
    left: 0;
    /* 
        transition 
        过渡效果必须是在有效的值之间进行转换的，auto是没办法进行转换 
    */
    transition: left 0.3s;
} 

.header .logo .home {
    left: -55px;
    background-image: url('../images/mi-home.png');
} 

.header .logo:hover .mi {
    left: 55px;
}
.header .logo:hover .home {
    left: 0;
}
.header-wrapper {
    position: relative;
}
.header-wrapper .nav-wrapper {
    margin-left: 7px;
}
.header-wrapper .nav-wrapper {
    float: left;
}
.nav-wrapper .nav > li {
    float: left;
    /* margin-right: 20px; */
    padding-right: 20px;
}
.all-goods-wrapper {
    position: relative;
}

.nav-wrapper .nav {
    /* width: 850px; */
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    padding-left: 58px;
}

.nav-wrapper .nav a {
    display: block;
    /* height: 60px; */
    /* margin-top: 10px; */
    font-size: 16px;
    color: #333;
}

.left-menu {
    width: 234px;
    height: 420px;
    background-color: rgba(105,101,101,.6);
    position: absolute;
    z-index: 999;
    left: -120px;
    line-height: 1px;
    padding: 20px 0;
}

.nav .left-menu li a {
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    color: #e0e0e0;
    padding: 0 30px;
}

.nav .left-menu li a:hover {
    color: #e0e0e0;
    background-color: #ff6700;
}

.left-menu a i{
    float: right;
    line-height: 42px;
}

.nav-wrapper .nav a:hover {
    color: #ff6700;
}

.header-wrapper .nav-wrapper .all-goods {
    visibility: hidden;
}
.header-wrapper .nav-wrapper .all-goods:hover{
    color: #333;
}

/* 隐藏层的设定 */
.goods-info {
    width: 100%;
    /* height: 228px; */
    /* overflow: hidden; */
    /* background-color: #888888; */
    position: absolute;
    left: 0;
    top: 100px;
    height: 0;
    transition: height 0.3s;
    /* 高优先级 ，确保不会被其他元素盖住*/
    z-index: 9999;
}
/* 
    由于优先级（都是类选择器，优先级相同，后面代码会覆盖前面的代码）的问题，
    如果这里的代码放在上面代码之前，会被覆盖，所以必须放在上面代码之后
*/
.nav-wrapper  .show-goods:hover ~ .goods-info,
.goods-info:hover {
    height: 228px;
    border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 5px 3px rgba(0, 0, 0, .2);
}

.search-wrapper {
    width: 296px;
    height: 50px;
    background-color: #333333;
    float: right;
    margin-top: 25px;
  
}
.search-wrapper .search-input {
    box-sizing: border-box;
    float: left;
    padding: 0;
    height: 50px;
    border: none;
    width: 244px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    outline: none;
}
.search-wrapper .search-input:hover,
.search-wrapper .search-input:hover + .search-btn {
    border-color: #b0b0b0;
}
/* 轮廓线 */
.search-wrapper .search-input:focus,
.search-wrapper .search-input:focus + .search-btn {
    /* outline: #ff6700 solid 1px; */
    border-color: #ff6700;
}
.search-wrapper .search-btn {
    float: left;
    height: 50px;
    width: 52px;
    border:none;
    color: #616161;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
}
.search-wrapper .search-btn:hover {
    background-color: #ff6700;
    color: #FFFFFF;
    border: none;
} 